// GENERAL

$navbarSize: 50px;
$interfaceColor: #333;
$backgroundColor: #EDEBEC;


// PROFILE 



// CHAT

$chatFontSize: 18px;

$formSize: 40px;

$chatMeColor: #87CEEB;
$chatStrangeColor: #DCDCDC;

